<!DOCTYPE html>
<html>
    <head>
        <script src="http://localhost:35729/livereload.js"></script>
        <script src="/components/requirejs/require.js"></script>
        <script src="/lib/require-config.js"></script>

        <!-- Spotify CSS files -->
        <link rel="stylesheet" type="text/css" href="/index.css">
    </head>
    <body>
                                        
        <div class="skee" id="skee">
            <div class="skee-header">
                <div class="skee-title">
                    <span class="skee-titleText"></span>
                </div>
            </div>
            <div class="skee-main"></div>
        </div>

        <!-- Templates -->
        <script type="text/template" class="spinner">
            <div class='skee-spinnerContainer'>
                <div class='skee-spinner'></div>
            </div>
        </script>

        <script type="text/template" class="subtitlesScroller">
            <div class="skee-viewport">
            </div>
        </script>

        <script type="text/template" class="linkedSubtitles">
            <ul class='skee-subtitles'>
                <% _.each(subtitlesAsSegments, function(subtitle) { %>
                    <li class='skee-subtitle'>
                        <% _.each(subtitle, function(word) { %>
                            <a class='skee-lookup'><%= word %></a>
                        <% }); %>
                    </li>
                <% }); %>
            </ul>
        </script>

        <script type="text/template" class="subtitles">
            <ul class='skee-subtitles'>
                <% _.each(subtitles, function(subtitle) { %>
                    <li class='skee-subtitle'>
                      <%= subtitle.text %>
                    </li>
                <% }); %>
            </ul>
        </script>

        <script type="text/template" class="noSubtitles">
            <div class="skee-noSubtitles">
                Sorry, there are no subtitles for this song in this language
            </div>
        </script>

        <script type="text/template" class="subtitlesPlayer">
            <button class="skee-upload">Edit Subtitles</button>
            <div class="skee-subtitlesContainer"></div>
            <div class="skee-controls">
                <a class="skee-prev skee-control">
                    <div class="skee-icon"></div>
                </a>
                <a class="skee-togglePlay skee-paused skee-control">
                    <div class="skee-icon"></div>
                </a>
                <a class="skee-next skee-control">
                    <div class="skee-icon"></div>
                </a>
                <a class="skee-toggleRepeatOne skee-control">
                    <div class="skee-icon"></div>
                </a>
            </div>
            <div class="skee-dictionaryContainer">
                <a class="skee-close">×</a>
                <div class="skee-dictionaryResults"></div>
            </div>
            <div class="skee-subtitlesUploadContainer">
                <a class="skee-close">×</a>
                <div class="skee-subtitlesUpload"></div>
            </div>
            <div class="skee-instructions">
                a/←: Prev, s/_: Play/Pause, d/→: Next, f/↲: Repeat
            </div>
        </script>

        <script type="text/template" class="subtitlesUpload">
            <div>
                Artist: <%= artist %> &nbsp;&nbsp;&nbsp;
                Title: <%= song %> &nbsp;&nbsp;&nbsp;
                Language: <%= language %>
            </div>
            <div class="skee-uploadText">
                <div>
                    <button class="skee-saveText">Save Text</button>
                </div>
                <textarea class="skee-editOriginal skee-textarea" style="float:left;"></textarea>
                <textarea class="skee-editTranslation skee-textarea" style="float: right;"></textarea>
            </div>
            <div class="skee-syncSubtitles" style="display:none;">
                <div>
                    <button class="skee-syncPrev">Prev</button>
                    <button class="skee-syncNext">Next</button>
                    <button class="skee-saveSubtitles">Save Subtitles</button>
                </div>
                <div class="skee-syncOriginal skee-column" style="float:left;"></div>
                <div class="skee-syncTranslation skee-column" style="float: right;"></div>
            </div>
        </script>
        <!-- End Templates -->

        <script src="/lib/Studyokee.js"></script>
    </body>
</html>